* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #fff;
}

#home {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 3.5%;
  background: #fff;
  box-shadow: 4px 0px 4px 0px rgba(33, 30, 30, 0.35);
}

.logo {
  width: 88.457px;
  height: 60px;
  background: url(./assets/img/v-letter.png), lightgray 50% / cover no-repeat;
}

.nav-list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 10px 70px 10px 10px;
  list-style: none;
}

.nav-item {
  color: #051e55;
  font-family: Lexend, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.home {
  position: relative;
  overflow: hidden;
  background: rgba(203, 197, 193, 0.35);
}

.home-background {
  position: absolute;
  left: 74%;
  width: 53.5%;
  height: min(52.4vw, 755.072px);
  transform: rotate(-43.613deg);
  background: #2e7cdf;
  z-index: 1;
}

.home-image {
  position: absolute;
  left: 58%;
  width: min-content;
  height: 100%;
  z-index: 2;
}

.home-image img {
  display: block;
  width: auto;
  height: 100%;
}

.home-intro {
  margin: 9.72% 0 9.72% 5%;
}

.intro-name {
  margin: 0px auto;
  color: #0e3c8a;
  font-family: Lexend Deca, sans-serif;
  font-size: clamp(32px, 3.5vw, 64px);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.intro-text {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: clamp(20px, 2.19vw, 40px);
  font-style: normal;
  font-weight: 500;
  line-height: 3.2;
}

.colored-text {
  margin-left: 12px;
  color: #0e3c8a;
}

.intro-btn {
  padding: 15px 40px;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: clamp(16px, 1.31vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background: #2e7cdf;
  border-radius: 5px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.72%;
  padding: 4.38% 3.68%;
}

.about-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-shrink: 2.5;
}

.section-header {
  color: #0e3c8a;
  font-family: Lexend, sans-serif;
  font-size: clamp(20px, 2.19vw, 40px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.about-text,
.about-contact {
  color: #23201e;
  font-family: Poppins, sans-serif;
  font-size: clamp(16px, 1.31vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-list {
  list-style-type: none;
}

.contact-detail {
  margin-top: 15px;
}

.bold-font {
  font-weight: 600;
}

.projects {
  padding: 3.54% 0;
  text-align: center;
  background-image: linear-gradient(to right, rgb(167, 158, 152), white);
}

.projects-container {
  display: flex;
  justify-content: space-around;
}

.projects-item {
  margin: 20px 30px;
}

.projects img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skills {
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 8%;
  margin: 4.54% 0;
}

.container-skills-item {
  padding: 15px 45px 15px 15px;
  text-align: left;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: clamp(16px, 1.31vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 15px;
  background-color: #0e3c8a;
}

.skills-list,
.bold-font {
  margin-bottom: 0px;
  padding-top: 0px;
}

.skills-item-value {
  padding-left: 20px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px auto 0;
  padding: 20px 0 0;
  background-color: #2e7cdf;
}

.footer-text {
  padding-bottom: 15px;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: clamp(16px, 1.31vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer-rs-logo {
  width: 134px;
  height: 50px;
  margin: 0 0 20px 0;
  background-image: url("./assets/img/rs-school-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
